*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fs-h1: 4rem;
  --fs-h2: 2.8rem;
  --fs-h3: 2.4rem;
  --fs-body: 1.6rem;

  --primary-col: rgb(37, 37, 37);
  --secondary-col: #fc575e;
  --light-accent-col: #f0f1f5;
  --dark-accent-col: #333;
  --fc-primary: #555;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-body);
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  color: var(--fc-primary);
  background-color: var(--light-accent-col);
}

a {
  text-decoration: none;
}

/* --------------------------*/
/* Header */
/*---------------------------*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-col);
  height: 8rem;
}

.logo {
  color: var(--light-accent-col);
}

i {
  color: var(--light-accent-col);
  font-size: var(--fs-h3);
}

i:hover {
  color: var(--secondary-col);
}

/*  cards */
.card-container {
  padding: 4rem;
}

/* --------------------------*/
/* form */
/*---------------------------*/

.panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgb(100, 99, 99);
  height: 27rem;
  padding: 4rem 2rem;
  margin: 1rem;
}

.link-heading {
  margin: 1.5rem 0;
}

.panel__input {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--fc-primary);
  padding: 0.5rem 0.5rem;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.4rem;
}

/* --------------------------*/
/* Buttons */
/*---------------------------*/

input[type="submit"],
button {
  padding: 0.8rem 2.2rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-col);
  background-color: var(--secondary-col);
  color: var(--light-accent-col);
  font-size: 1.6rem;
}

input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  color: var(--secondary-col);
  background: white;
}

.button__add-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
}
